* {
  box-sizing: border-box;
}

body {
  width: 400px;
  max-width: 100%;
  background: rgb(249, 249, 249);
  border-color: rgb(249, 249, 249);
  padding: 5px;
}

#container {
  background: white;
  border: 4px solid rgb(237, 236, 238);
  padding: 16px 24px;
  border-radius: 4px;
}

#logo {
 	width: 128px;
  height: 128px;
  margin: 10px auto;
  background: url('../images/icon128.png');
}

#loading-spinner, #user-details {
  text-align: center;
}

.btn {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(26, 24, 29, 0.16), 0 1px 4px 0 rgba(26, 24, 29, 0.12);
}

#github-button, #setup-button {
  text-align: center;
}

#github-button .btn {
  font-size: 14px;
  background-color: #5cb85c;
  color: white;
}

#status {
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
  background: white;
  color: #4E4A57;
  border-radius: 4px;
  transition: opacity .5s;
}

.sub-page {
  display: none;
}
