#chatWrapper {
    z-index: 10000;
    pointer-events: none;
}

#groupsBox , .chatBox, .chatBox * {
    pointer-events: auto;
	z-index: 10000;	
}

#chatWrapper_boxes {
}

.chatBox  {
    width: 340px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0px;
    border-radius: 2px 2px 0px 0px;
}

#groupsBox {
    max-height: 90%;
    overflow-y: auto;
}

.chatBox_title, .groupsBox_title {
    padding-top: 2px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
    height: 25px;
    background: #c0d4f7;
    color: rgb(15, 53, 119);
    border-radius: 2px 2px 0px 0px;
	cursor: pointer;
}

	button.chatBox_closer, button.chatBox_minimizer	{
		float: right;
		background: none;
		border: none;
		height: 16px;
		width: 16px;
		padding: 0px;
		line-height: 0px;
		border-radius: 10px;	
		padding-bottom: 3px;
		margin-top: 3px;
		margin-right: 5px;
	}
	button.chatBox_closer:hover, button.chatBox_minimizer:hover {
		padding-top: 1px;
	}

.chatBox_content {
    width: 100%;
    height: 300px;
    padding: 10px;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatBox_input {
    width: 100%;
    height: 70px;
    border-top: 1px solid #c0d4f7;
    background: #c0d4f7;
}

.chatBox_input textarea {
    float: left;
    width: 270px;
    height: 100%;
    border: none;
    padding: 10px;
}

.chatBox_input button {
    float: left;
    width: 70px;
    height: 70px;
    border: none;
    background: #c0d4f7;
    color: rgb(15, 53, 119);
}

/* Shower */ 

.chatBox_shower, #groupsBox .groupsBox_shower  {
    height: 20px;
    background-color: #c0d4f7;
}
.chatBox_shower .shower_title, #groupsBox .groupsBox_shower .shower_title, .groupsBoxTitle_title, .chatBox_title .chatBoxTitle_title {
    text-align: center;
    width: 80%;
    background: none;
    float: left;
    cursor: pointer;
}

/* Groups Box */

#groupsBox {
    width: 200px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0px;
    border-radius: 2px 2px 0px 0px;
}

.groupHR {
	background: white;
	border: none;
	border-bottom: 1px solid #eee;
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 0px;
	margin-bottom: 15px;
}

#groupsBox {
    right: 10px;
}
.group {
    cursor: pointer;
    border: 1px solid rgba(15, 53, 119,0.1);
	background-color: white;
	color: rgb(15, 53, 119);
	padding: 3px;
	margin: 3px;
    font-size: 0.8em;
}

.group:hover {
    border: 1px solid rgba(15, 53, 119,0.1);
	background-color: rgba(15, 53, 119,0.05);
}
.group.openChatBox {
    border: 1px solid rgba(15, 53, 119,0.3);
	background-color: rgba(15, 53, 119,0.1);
}

#groupsBox .groupsBox_content {
    width: 100%;
    height: inherit;
    padding: 10px;
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Speech bubbles */


.chatMessage {
 font-size: 0.8em;
 margin-top: 30px;
}

.chatMessage .msg_time {
font-size: 0.7em;
width: 100%;
text-align: right;
float: right;
margin-top:3px;
margin-right: 5px;
vertical-align: top;
}
.chatMessage.userPoster .msg_time {
    margin-right: 25px;
}

.msg_time .flagMessage,.msg_time .deleteMessage {
    margin-left: 5px;
    cursor: pointer;
    color: #aaa;
    font-size: 1.2em;
}
.msg_time .flagMessage:hover,.msg_time .deleteMessage:hover {
    padding-top: 1px;
    color: black;
}

.chatMessage .msg_user {
margin-left: 30px;
font-weight: bold;
margin-bottom: 5px;
}
.chatMessage.userPoster .msg_user {
margin-left: 10px;
}
.chatBox .chatBox_content .chatMessage .msg_user .label {
 font-size: 0.8em;
}

.chatMessage.userPoster .msg_user {
margin-left: 0px;
margin-right: 0px;
}

.chatMessage .bubble {
    position: relative;
    margin-left: 25px;
    width: 270px;
    padding: 5px;
    background: rgba(15, 53, 119,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chatMessage.userPoster .bubble {
	background: #D9EAD3;
	margin-left: 10px;
}

.chatMessage.otherPoster .bubble:after {
    content: "";
    position: absolute;
    top: 4px;
    left: -12px;
    border-style: solid;
    border-color: transparent rgba(15, 53, 119,0.1);
    display: block;
    width: 0;
    z-index: 1;
    border-width: 9px 12px 9px 0px;
}

.chatMessage.userPoster .bubble:after {
    content: "";
    position: absolute;
    top: 4px;
    right: -11px;
    border-style: solid;
    border-color: transparent #D9EAD3;
    display: block;
    width: 0;
    z-index: 1;
    border-width: 9px 0px 9px 12px;
}


.chatMessage.systemPoster .msg_time {
display: none;
}

.chatMessage.systemPoster .msg_user {
display: none;
}

.chatMessage.systemPoster .bubble {
	background: #fff;
	margin-left: 0px;
    width: 100%;
    font-style: italic;
}
