body {
	width: 300px;
	color: #333333;
  border: 1px solid #333;
	background-color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  position: relative;
}
  a {
   color: #333;
   font-size: 10px;
   text-decoration: none;
  }
  a:hover {
   color: #000;
   text-decoration: underline;
  }


#logo {
 	width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-top: 30px;
  background: url('../images/icon128.png');
}

#setupButton {
 text-align: center; 
}
#checkBoxes {
 	margin-top: 40px;
}

#checkBoxes label {
  width: 100px;
  height: 20px;
  margin: 0 auto;
  display: block;
}
#checkBoxes label .field {
  width: 20px;
  height: 15px;
  display: inline-block;
}
#checkBoxes label .field input {
  position: relative;
  top: 2px;
}
#checkBoxes label .legend {
  width: 80px;
  height: 15px;
  display: inline-block;
  user-select: none;
}

#manualSetupTriggerHolder {
  margin-top: 80px; 
}

#status {
 position: absolute;
 width: 100%;
 text-align: center;
  top:187px;
 color: #11aa33;
 display: none;
}

#userForm {
  margin-top: 30px;
 display: none; 
}

#gitHubButton {
  margin-top: 10px;
  width: 100%;
}
#gitHub {
  color: #777;
   text-decoration: underline;
}
  #gitHub:hover {
   color: #000;
  }
